body {
    margin-top: 50px;
}

#ui-title-row {
    margin-bottom: 50px;
}

#ui-month-selector {
    margin: auto;
    font-size: 115%;
}

#ui-month-today-checkbox {
    margin-left: 25px;
    font-size: 120%;
}

#ui-detailed-view-checkbox {
    margin-left: 25px;
    font-size: 120%;
}

#ui-form {
    margin-top: 10px;
}

#ui-print-info {
    margin-bottom: 35px;
}

#ui-domains-table-title {
    margin-bottom: 25px;
}

#ui-domains-table thead tr th.ui-domains-table-header {
    cursor: pointer;
}

#ui-domains-list-no-data {
    padding: 50px 0;
}

#ui-domains-list-no-data-small {
    padding: 10px 0;
}

#ui-domains-list-template .ui-domain-total {
    font-size: 150%;
}

#ui-domains-list-detailed-spacer {
    background-color: #ddd;
}

#ui-name-uuid {
    text-align: right;
}

.right {
    float:right;
}

.left {
    float:left;
}

.uuid {
    font-size: 80%;
    font-family: Consolas, monaco, monospace;
}
