body {
    margin-top: 50px;
}

#ui-title-row {
    margin-bottom: 50px;
}

#ui-month-selector {
    margin: 20px 30px;
    font-size: 115%;
}

#ui-month-today-checkbox {
    margin-left: 25px;
    font-size: 120%;
}

#ui-detailed-view-checkbox {
    margin-left: 25px;
    font-size: 120%;
}

#ui-form {
    margin-top: 10px;
}

#ui-print-info {
    margin-bottom: 35px;
}

#ui-domains-table-title {
    margin-bottom: 25px;
}

#ui-domains-table > thead > tr > th {
    border-bottom: 2px solid #333;
}

#ui-domains-table > thead > tr > th.ui-domains-table-header {
    cursor: pointer;
}

#ui-domains-table > tbody {
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
}

#ui-domains-table > tbody > tr > td.ui-domain-title {
    background-color: #333;
    color: #fff;
    font-size: 125%;
}

#ui-domains-table > tbody > tr.ui-domain-row {
    background-color: #f7f7f7;
}

#ui-domains-table > tbody > tr > td.ui-virtual-machines-cell {
    border-top: 1px solid #333;
}

#ui-domains-table > tbody > tr > td.ui-virtual-machines-cell > h4 {
    color: #369;
}

table.ui-virtual-machines-table > tbody {
    border: 2px solid #369;
}

table.ui-virtual-machines-table > tbody > tr.ui-virtual-machine-row {
    background-color: #e5eaf5;
    color: #369;
}

table.ui-virtual-machines-table > tbody > tr.ui-virtual-machine-row > td {
    border-top: 1px solid #369;
}

table.ui-virtual-machines-table > tbody > tr > td.ui-virtual-machine-volumes-cell {
    border-top: 1px solid #369;
}

table.ui-virtual-machine-volumes-table > tbody {
    border: 2px solid #ccc;
    background-color: #f7f7f7;
}

table.ui-virtual-machine-volumes-table > tbody > td {
    border-top: 1px solid #ccc;
}

#ui-domains-table > tbody > tr > td.ui-volumes-cell {
    border-top: 1px solid #333;
}

#ui-domains-table > tbody > tr > td.ui-volumes-cell > h4 {
    color: #c90;
}

table.ui-volumes-table > tbody {
    border: 2px solid #c90;
}

table.ui-volumes-table > tbody > tr.ui-volumes-row {
    background-color: #faf5e5;
}

table.ui-volumes-table > tbody > tr.ui-volumes-row td {
    border-top: 1px solid #c90;
}

#ui-domains-table > tbody > tr > td.ui-networks-cell {
    border-top: 1px solid #333;
}

#ui-domains-table > tbody > tr > td.ui-networks-cell h4 {
    color: #390;
}

table.ui-networks-table > tbody {
    border: 2px solid #390;
}

table.ui-networks-table > tbody > tr.ui-network-row {
    background-color: #e0ebcc;
    color: #390;
}

table.ui-networks-table > tbody > tr.ui-network-row > td {
    border-top: 1px solid #390;
}

table.ui-networks-table > tbody > tr > td.ui-network-public-ips-cell {
    border-top: 1px solid #390;
}

table.ui-network-public-ips-table > tbody {
    border: 2px solid #ccc;
    background-color: #f7f7f7;
}

table.ui-network-public-ips-table > tbody > td {
    border-top: 1px solid #ccc;
}

