<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Cosmic Usage &amp; Billing - Monthly Report</title>

        <link href="public/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
        <link href="public/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="public/app/main.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div id="ui-title-row" class="row">
                <div class="col-md-12">
                    <h1>Cosmic Usage &amp; Billing <small>Monthly Report</small></h1>
                </div>
            </div>
            <div class="row hidden-print">
                <div id="ui-error-message" class="col-md-12">
                    <!-- #ui-error-message-template -->
                </div>
            </div>
            <div class="row hidden-print">
                <div class="col-md-3">
                    <div id="ui-month-selector" data-provide="datepicker-inline"
                                                data-date-format="yyyy-mm"
                                                data-date-max-view-mode="years"
                                                data-date-min-view-mode="months"
                                                data-date-templates='{
                                                        "leftArrow": "<i class=\"fa fa-chevron-left\" aria-hidden=\"true\"></i>",
                                                        "rightArrow": "<i class=\"fa fa-chevron-right\" aria-hidden=\"true\"></i>"
                                                    }'></div>
                    <div>
                        <label>
                            <input id="ui-month-today-checkbox" type="checkbox" value="">
                            Project monthly bill
                        </label>
                    </div>
                </div>
                <div class="col-md-9">
                    <form id="ui-form" class="form-horizontal">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-2 control-label" for="ui-domain-path">Domain path</label>
                            <div class="col-sm-10">
                                <input id="ui-domain-path" class="form-control"
                                                           type="text"
                                                           placeholder="/ or /Cust"
                                                           value="/">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-3 control-label" for="ui-cpu-price">CPU price (unit)</label>
                            <div class="col-sm-3">
                                <input id="ui-cpu-price" class="form-control"
                                                         type="text"
                                                         placeholder="CPU price (unit)"
                                                         value="1.00">
                            </div>
                            <label class="col-sm-3 control-label" for="ui-memory-price">Memory price (bytes)</label>
                            <div class="col-sm-3">
                                <input id="ui-memory-price" class="form-control"
                                                            type="text"
                                                            placeholder="Memory price (bytes)"
                                                            value="1.00">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-3 control-label" for="ui-storage-price">Storage price (bytes)</label>
                            <div class="col-sm-3">
                                <input id="ui-storage-price" class="form-control"
                                                         type="text"
                                                         placeholder="Storage price (bytes)"
                                                         value="1.00">
                            </div>
                            <label class="col-sm-3 control-label" for="ui-public-ip-price">Public IP price (unit)</label>
                            <div class="col-sm-3">
                                <input id="ui-public-ip-price" class="form-control"
                                                            type="text"
                                                            placeholder="Public IP price (unit)"
                                                            value="1.00">
                            </div>
                        </div>
                        <input id="ui-generate-report-btn" class="btn btn-primary btn-lg pull-right"
                                                           type="submit"
                                                           value="Generate report">
                    </form>
                </div>
            </div>
            <div id="ui-printing-headers" class="visible-print-block">
                <!-- #ui-printing-headers-template -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 id="ui-domains-table-title">Domains <small>Monthly Report</small></h2>
                    <table id="ui-domains-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th data-label="Domain" data-sortby="DOMAIN_PATH" class="text-uppercase table-header-sortable"></th>
                                <th data-label="CPU" data-sortby="CPU" class="table-header-sortable"></th>
                                <th data-label="Memory" data-sortby="MEMORY" class="table-header-sortable"></th>
                                <th data-label="Storage" data-sortby="VOLUME" class="table-header-sortable"></th>
                                <th data-label="Public IPs" data-sortby="PUBLIC_IP" class="table-header-sortable"></th>
                                <th class="text-uppercase">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- #ui-domains-list-template -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script id="ui-error-message-template" type="x-tmpl-mustache">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Oh snap!</strong> {{ errorMessage }}
            </div>
        </script>

        <script id="ui-printing-headers-template" type="x-tmpl-mustache">
        {{=<% %>=}}
            {{# selectedMonth }}
                <h2>{{ . }}</h2>
            {{/ selectedMonth }}
            {{^ selectedMonth }}
                <h2>No month selected</h2>
            {{/ selectedMonth }}
            <table class="table">
                <thead>
                    <tr>
                        <th>CPU price (unit)</th>
                        <th>Memory price (bytes)</th>
                        <th>Storage price (bytes)</th>
                        <th>Public IP price (unit)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ cpuPrice }} &euro;</td>
                        <td>{{ memoryPrice }} &euro;</td>
                        <td>{{ storagePrice }} &euro;</td>
                        <td>{{ publicIpPrice }} &euro;</td>
                    </tr>
                </tbody>
            </table>
        <%={{ }}=%>
        </script>

        <script id="ui-domains-list-template" type="x-tmpl-mustache">
        {{=<% %>=}}
            {{# domains }}
                <tr>
                    <td>
                        <strong>{{ path }}</strong><br>
                        {{ uuid }}
                    </td>
                    <td>
                        <strong>{{ costs.compute.cpu }} &euro;</strong><br>
                        {{ usage.compute.total.cpu }} units
                    </td>
                    <td>
                        <strong>{{ costs.compute.memory }} &euro;</strong><br>
                        {{ usage.compute.total.memory }} bytes
                    </td>
                    <td>
                        <strong>{{ costs.storage }} &euro;</strong><br>
                        {{ usage.storage.total }} bytes
                    </td>
                    <td>
                        <strong>{{ costs.networking.publicIps }} &euro;</strong><br>
                        {{ usage.networking.total.publicIps }} units
                    </td>
                    <td>
                        <strong class="ui-domain-total">{{ costs.total }} &euro;</strong>
                    </td>
                </tr>
            {{/ domains }}
            {{^ domains }}
                <tr>
                    <td id="ui-domains-list-no-data" class="text-center" colspan="6">No data</td>
                </tr>
            {{/ domains }}
        <%={{ }}=%>
        </script>

        <script src="public/libs/jquery/dist/jquery.min.js"></script>
        <script src="public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="public/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="public/libs/moment/min/moment.min.js"></script>
        <script src="public/libs/mustache/mustache.min.js"></script>
        <script src="public/libs/numeral/min/numeral.min.js"></script>
        <script src="public/libs/numeral/min/locales/nl-nl.min.js"></script>
        <script src="public/libs/underscore/underscore-min.js"></script>
        <script src="public/app/main.js"></script>
        <script>$(function() { app.init("{{{ baseUrl }}}") })</script>
    </body>
</html>
